# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- List populat langauges that data scientists use
- List commonly used libraries in data science
- Put data science tool into a single column table
- Show some basic math operations

Some of the popular languages that Data Scientists use are:

    1. Python
    2. R
    3. Julia
    4. Java
    5. C/C++

Some of the commonly used libraries used by Data Scientists include:

1. SciPy 
2. NumPy 
3. Pandas 
4. Matplotlib

| Data Science Tools |
| --- |
| R studio |
| Apache Spark |
| Tensor Flow |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Paul Canning